        <article class="post">
            <div class="title">
                <h3>{{title}}</h3>
                <span>{{post_text}}</span>
            </div>
            <div class="meta">
                by {{user.username}} on
                {{format_date created_at}}
                |
            </div>
        </article>