<section class="new-post hide" id="new-post">
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label><br>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-text">Content</label><br>
            <textarea id="post-text" name="post-text"/></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>
<button id="add-post-btn">+ New Post</button>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <div>
    {{#each posts as |post|}}
    <article class="dashboard-post">
      <div>
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">{{post.title}}</a>
      </div>
      <div>
         {{format_date post.created_at}}
      </div>
      
    </article>
    {{/each}}
  </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>