<article class="container">
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <label for="post-title">Title</label><br>
            <input type="text" id="post-title" name="post-title" value="{{post.title}}"/>
        </div>
        <div>
            <label for="post-text">Content</label><br>
            <textarea id="post-text" name="post-text">{{post.post_text}}</textarea>
        </div>
        
        <button type="submit">Update Post</button>
        <button type="button" class="delete-post-btn">Delete</button>
    </form>
</article>



<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>