{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <header></header>
    <div>
        <label for="comment-body">Comment</label><br>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>
{{/if}}

{{> comments post.comments }}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}